/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900 */

.source-sans-3-test {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

body {
    background-color: #dab6e6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 540px;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Source Sans 3";
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.images img {
    width: 30%;
    max-width: 150px;
    height: auto;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .images img {
        width: 80px;
        height: auto;
    }
}
